BasedOnStyle: Google
IndentWidth: 4
TabWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: false
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: false
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: false
